.navbar #nav{
    list-style: none;
    padding-left: 10px;
    color: white;


}
.navbar{
    background-color:rgb(61, 102, 125);
    height: 70px;
    padding: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.navbar #nav li{
    display: inline;
    margin-right: 20px;

}
.navbar .btn{
    color: rgb(230, 237, 244);
    text-decoration: none;
}
